workflows/telegram_query_via_local_api.json
{
  "name": "老蕭LAND｜Telegram查詢API版",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        260,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{($env.API_BASE_URL || 'https://solid-results-remain.loca.lt') + '/query'}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"text\":\"{{$json.message.text || ''}}\"}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "local-query-api",
      "name": "Local SQLite Query API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{$node[\"Telegram Trigger\"].json.message.chat.id}}",
        "text": "={{$json.reply}}",
        "additionalFields": {
          "disable_web_page_preview": true
        }
      },
      "id": "telegram-send",
      "name": "Telegram Send Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        780,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Local SQLite Query API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local SQLite Query API": {
      "main": [
        [
          {
            "node": "Telegram Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
